MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/malathi-designer

JWT_SECRET=replace-with-a-long-random-secret
ADMIN_EMAIL=admin@malathidesigner.in
ADMIN_PASSWORD=ChangeThisStrongPassword123!

CLOUDINARY_CLOUD_NAME=dhxh3as6l
CLOUDINARY_API_KEY=811242845596715
CLOUDINARY_API_SECRET=QL5ajaBye0lhHQVUKoIKQ-C6BXo
CLOUDINARY_UPLOAD_FOLDER=malathi-designer

NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_WHATSAPP_NUMBER=918248744594
